<?xml version="1.0" encoding="utf-8"?>
<!-- M3-S-CCS-615 arms on M6 stand; TCP_Link_L/R for mv_control IK -->
<robot name="Marvin M3-S-CCS-615-V2.0 Base and Stand Asm urdf">
  <link name="Link_Base">
    <inertial>
      <origin xyz="0 1.33E-06 0.1597" rpy="0 0 0" />
      <mass value="74.515" />
      <inertia ixx="8.67491803" ixy="0.07182226" ixz="0" iyy="8.67495749" iyz="0.00008096" izz="4.32871357" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/Link_Base.STL" />
      </geometry>
      <material name="">
        <color rgba="0 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/Link_Base.STL" />
      </geometry>
    </collision>
  </link>
  <link name="Link_Stand">
    <inertial>
      <origin xyz="1.321E-05 -4.225E-05 0.06485" rpy="0 0 0" />
      <mass value="3.52" />
      <inertia ixx="0.01763033" ixy="-0.00000075" ixz="0.00000045" iyy="0.02001856" iyz="7.41E-06" izz="0.01060882" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/Link_Stand.STL" />
      </geometry>
      <material name="">
        <color rgba="0 0 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/Link_Stand.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="Joint_Stand" type="fixed">
    <origin xyz="0 0 0.981" rpy="0 0 0" />
    <parent link="Link_Base" />
    <child link="Link_Stand" />
    <axis xyz="0 0 0" />
  </joint>
  <joint name="Joint0_L" type="fixed">
    <origin xyz="0 0.037 0.140" rpy="-1.5708 0 0" />
    <parent link="Link_Stand" />
    <child link="Base_L" />
    <axis xyz="0 0 0" />
  </joint>
  <link name="Base_L">
    <inertial>
      <origin xyz="0.00026267 0.00011932 0.03306285" rpy="0 0 0" />
      <mass value="1.03862143" />
      <inertia ixx="0.00071755" ixy="0.00000006" ixz="-0.00000688" iyy="0.00071148" iyz="-0.00000335" izz="0.00091518" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/Base_L.STL" />
      </geometry>
      <material name="">
        <color rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/Base_L.STL" />
      </geometry>
    </collision>
  </link>
  <link name="Link1_L">
    <inertial>
      <origin xyz="0.00005324 0.00445236 -0.03913569" rpy="0 0 0" />
      <mass value="1.77724008" />
      <inertia ixx="0.00530846" ixy="0.00000240" ixz="-0.00000211" iyy="0.00555862" iyz="0.00029899" izz="0.00133520" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/Link1_L.STL" />
      </geometry>
      <material name="">
        <color rgba="0 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/Link1_L.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="Joint1_L" type="revolute">
    <origin xyz="0 0 0.177" rpy="0 0 0" />
    <parent link="Base_L" />
    <child link="Link1_L" />
    <axis xyz="0 0 1" />
    <limit lower="-3.1067" upper="3.1067" effort="66" velocity="3.1416" />
  </joint>
  <link name="Link2_L">
    <inertial>
      <origin xyz="-0.00010498 0.05321718 0.00787641" rpy="0 0 0" />
      <mass value="1.60894018" />
      <inertia ixx="0.00632572" ixy="-0.00000592" ixz="0.00000084" iyy="0.00182184" iyz="-0.00069610" izz="0.00594120" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/Link2_L.STL" />
      </geometry>
      <material name="">
        <color rgba="0 0 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/Link2_L.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="Joint2_L" type="revolute">
    <origin xyz="0 0 0" rpy="1.5708 0 0" />
    <parent link="Link1_L" />
    <child link="Link2_L" />
    <axis xyz="0 0 1" />
    <limit lower="-2.0944" upper="2.0944" effort="66" velocity="3.1416" />
  </joint>
  <link name="Link3_L">
    <inertial>
      <origin xyz="0.00810489 0.00245578 -0.05500367" rpy="0 0 0" />
      <mass value="1.27082930" />
      <inertia ixx="0.00491773" ixy="0.00003519" ixz="0.00058367" iyy="0.00519354" iyz="0.00017843" izz="0.00102662" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/Link3_L.STL" />
      </geometry>
      <material name="">
        <color rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/Link3_L.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="Joint3_L" type="revolute">
    <origin xyz="0 0.272 0" rpy="-1.5708 0 0" />
    <parent link="Link2_L" />
    <child link="Link3_L" />
    <axis xyz="0 0 1" />
    <limit lower="-3.1067" upper="3.1067" effort="18" velocity="3.1416" />
  </joint>
  <link name="Link4_L">
    <inertial>
      <origin xyz="0.00709286 -0.03304509 0.00893402" rpy="0 0 0" />
      <mass value="0.96124622" />
      <inertia ixx="0.00254980" ixy="-0.00032269" ixz="-0.00006345" iyy="0.00107965" iyz="0.00029545" izz="0.00235605" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/Link4_L.STL" />
      </geometry>
      <material name="">
        <color rgba="0 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/Link4_L.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="Joint4_L" type="revolute">
    <origin xyz="0.018 0 0" rpy="-1.5708 0 3.1416" />
    <parent link="Link3_L" />
    <child link="Link4_L" />
    <axis xyz="0 0 1" />
    <limit lower="-3.1067" upper="3.1067" effort="18" velocity="3.1416" />
  </joint>
  <link name="Link5_L">
    <inertial>
      <origin xyz="-0.00062313 0.00098400 -0.09276174" rpy="0 0 0" />
      <mass value="0.90217469" />
      <inertia ixx="0.00189248" ixy="-0.00001906" ixz="-0.00002190" iyy="0.00174389" iyz="-0.00000835" izz="0.00075080" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/Link5_L.STL" />
      </geometry>
      <material name="">
        <color rgba="0 0 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/Link5_L.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="Joint5_L" type="revolute">
    <origin xyz="0.018 -0.256 0" rpy="-1.5708 0 3.1416" />
    <parent link="Link4_L" />
    <child link="Link5_L" />
    <axis xyz="0 0 1" />
    <limit lower="-3.1067" upper="3.1067" effort="6.5" velocity="3.1416" />
  </joint>
  <link name="Link6_L">
    <inertial>
      <origin xyz="0.00031369 0.00024238 -0.00041391" rpy="0 0 0" />
      <mass value="0.33261055" />
      <inertia ixx="0.00015388" ixy="0.00000140" ixz="-0.00000029" iyy="0.00015258" iyz="-0.00000262" izz="0.00013812" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/Link6_L.STL" />
      </geometry>
      <material name="">
        <color rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/Link6_L.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="Joint6_L" type="revolute">
    <origin xyz="0 0 0" rpy="1.5708 -1.5708 0" />
    <parent link="Link5_L" />
    <child link="Link6_L" />
    <axis xyz="0 0 1" />
    <limit lower="-1.0472" upper="1.0472" effort="6.5" velocity="3.1416" />
  </joint>
  <link name="Link7_L">
    <inertial>
      <origin xyz="-0.00006959 -0.03969936 0.00413997" rpy="0 0 0" />
      <mass value="0.30535389" />
      <inertia ixx="0.00058153" ixy="-0.00000009" ixz="-0.00000084" iyy="0.00026536" iyz="0.00005594" izz="0.00048333" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/Link7_L.STL" />
      </geometry>
      <material name="">
        <color rgba="0 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/Link7_L.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="Joint7_L" type="revolute">
    <origin xyz="0 0 0" rpy="1.5708 -1.5708 0" />
    <parent link="Link6_L" />
    <child link="Link7_L" />
    <axis xyz="0 0 1" />
    <limit lower="-1.5708" upper="1.5708" effort="6.5" velocity="3.1416" />
  </joint>
  <link name="TCP_Link_L">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
  </link>
  <joint name="JointTCP_L" type="fixed">
    <origin xyz="0 -0.095 0" rpy="1.5708 -1.5708 0" />
    <parent link="Link7_L" />
    <child link="TCP_Link_L" />
    <axis xyz="0 0 0" />
  </joint>
  <joint name="Joint0_R" type="fixed">
    <origin xyz="0 -0.037 0.140" rpy="1.5708 0 0" />
    <parent link="Link_Stand" />
    <child link="Base_R" />
    <axis xyz="0 0 0" />
  </joint>
  <link name="Base_R">
    <inertial>
      <origin xyz="0.00026267 0.00011932 0.03306285" rpy="0 0 0" />
      <mass value="1.03862143" />
      <inertia ixx="0.00071755" ixy="0.00000006" ixz="-0.00000688" iyy="0.00071148" iyz="-0.00000335" izz="0.00091518" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/Base_R.STL" />
      </geometry>
      <material name="">
        <color rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/Base_R.STL" />
      </geometry>
    </collision>
  </link>
  <link name="Link1_R">
    <inertial>
      <origin xyz="0.00005324 0.00445236 -0.03913569" rpy="0 0 0" />
      <mass value="1.77724008" />
      <inertia ixx="0.00530846" ixy="0.00000240" ixz="-0.00000211" iyy="0.00555862" iyz="0.00029899" izz="0.00133520" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/Link1_R.STL" />
      </geometry>
      <material name="">
        <color rgba="0 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/Link1_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="Joint1_R" type="revolute">
    <origin xyz="0 0 0.177" rpy="0 0 0" />
    <parent link="Base_R" />
    <child link="Link1_R" />
    <axis xyz="0 0 1" />
    <limit lower="-3.1067" upper="3.1067" effort="66" velocity="3.1416" />
  </joint>
  <link name="Link2_R">
    <inertial>
      <origin xyz="-0.00010498 0.05321718 0.00787641" rpy="0 0 0" />
      <mass value="1.60894018" />
      <inertia ixx="0.00632572" ixy="-0.00000592" ixz="0.00000084" iyy="0.00182184" iyz="-0.00069610" izz="0.00594120" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/Link2_R.STL" />
      </geometry>
      <material name="">
        <color rgba="0 0 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/Link2_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="Joint2_R" type="revolute">
    <origin xyz="0 0 0" rpy="1.5708 0 0" />
    <parent link="Link1_R" />
    <child link="Link2_R" />
    <axis xyz="0 0 1" />
    <limit lower="-2.0944" upper="2.0944" effort="66" velocity="3.1416" />
  </joint>
  <link name="Link3_R">
    <inertial>
      <origin xyz="0.00810489 0.00245578 -0.05500367" rpy="0 0 0" />
      <mass value="1.27082930" />
      <inertia ixx="0.00491773" ixy="0.00003519" ixz="0.00058367" iyy="0.00519354" iyz="0.00017843" izz="0.00102662" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/Link3_R.STL" />
      </geometry>
      <material name="">
        <color rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/Link3_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="Joint3_R" type="revolute">
    <origin xyz="0 0.272 0" rpy="-1.5708 0 0" />
    <parent link="Link2_R" />
    <child link="Link3_R" />
    <axis xyz="0 0 1" />
    <limit lower="-3.1067" upper="3.1067" effort="18" velocity="3.1416" />
  </joint>
  <link name="Link4_R">
    <inertial>
      <origin xyz="0.00709286 -0.03304509 0.00893402" rpy="0 0 0" />
      <mass value="0.96124622" />
      <inertia ixx="0.00254980" ixy="-0.00032269" ixz="-0.00006345" iyy="0.00107965" iyz="0.00029545" izz="0.00235605" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/Link4_R.STL" />
      </geometry>
      <material name="">
        <color rgba="0 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/Link4_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="Joint4_R" type="revolute">
    <origin xyz="0.018 0 0" rpy="-1.5708 0 3.1416" />
    <parent link="Link3_R" />
    <child link="Link4_R" />
    <axis xyz="0 0 1" />
    <limit lower="-3.1067" upper="3.1067" effort="18" velocity="3.1416" />
  </joint>
  <link name="Link5_R">
    <inertial>
      <origin xyz="0.00062313 -0.00098400 -0.09276174" rpy="0 0 0" />
      <mass value="0.90217469" />
      <inertia ixx="0.00189248" ixy="-0.00001906" ixz="0.00002190" iyy="0.00174389" iyz="0.00000835" izz="0.00075080" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/Link5_R.STL" />
      </geometry>
      <material name="">
        <color rgba="0 0 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/Link5_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="Joint5_R" type="revolute">
    <origin xyz="0.018 -0.256 0" rpy="-1.5708 0 3.1416" />
    <parent link="Link4_R" />
    <child link="Link5_R" />
    <axis xyz="0 0 1" />
    <limit lower="-3.1067" upper="3.1067" effort="6.5" velocity="3.1416" />
  </joint>
  <link name="Link6_R">
    <inertial>
      <origin xyz="-0.00031369 0.00024238 0.00041391" rpy="0 0 0" />
      <mass value="0.33261055" />
      <inertia ixx="0.00015479" ixy="-0.00000140" ixz="-0.00000029" iyy="0.00015429" iyz="-0.00000262" izz="0.00013902" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/Link6_R.STL" />
      </geometry>
      <material name="">
        <color rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/Link6_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="Joint6_R" type="revolute">
    <origin xyz="0 0 0" rpy="1.5708 -1.5708 0" />
    <parent link="Link5_R" />
    <child link="Link6_R" />
    <axis xyz="0 0 1" />
    <limit lower="-1.0472" upper="1.0472" effort="6.5" velocity="3.1416" />
  </joint>
  <link name="Link7_R">
    <inertial>
      <origin xyz="-0.00006959 -0.03969936 0.00413997" rpy="0 0 0" />
      <mass value="0.30535389" />
      <inertia ixx="0.00058153" ixy="-0.00000009" ixz="-0.00000084" iyy="0.00026536" iyz="0.00005594" izz="0.00048333" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/Link7_R.STL" />
      </geometry>
      <material name="">
        <color rgba="0 1 0 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/Link7_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="Joint7_R" type="revolute">
    <origin xyz="0 0 0" rpy="1.5708 -1.5708 0" />
    <parent link="Link6_R" />
    <child link="Link7_R" />
    <axis xyz="0 0 1" />
    <limit lower="-1.5708" upper="1.5708" effort="6.5" velocity="3.1416" />
  </joint>
  <link name="TCP_Link_R">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
  </link>
  <joint name="JointTCP_R" type="fixed">
    <origin xyz="0 -0.095 0" rpy="1.5708 -1.5708 0" />
    <parent link="Link7_R" />
    <child link="TCP_Link_R" />
    <axis xyz="0 0 0" />
  </joint>
</robot>